<div id="app">
  <img src="assets/images/e-commerce-photo-2.jpg" id="e-commerce-photo">
  <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <a href="#" class="navbar-brand">Rusimka Dineva E-Shop</a>
    <ul class="navbar-nav">

      <li class="nav-item active">
        <a href="/home" class="nav-link">Home</a>
      </li>

      <li class="nav-item active" *ngIf="showAdminBoard">
        <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
      </li>

      <li class="nav-item active">
        <a href="/address" class="nav-link" *ngIf="isLoggedIn" routerLink="address">Address</a>
      </li>

      <li class="nav-item">
        <a href="/cart" class="nav-link" *ngIf="isLoggedIn" routerLink="cart">Cart</a>
      </li>
    </ul>

    <ul class="navbar-nav" *ngIf="!isLoggedIn">

      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>

      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>

    </ul>

    <ul class="navbar-nav" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>

    </ul>
  </nav>

    <div class="container">
      <router-outlet></router-outlet>
    </div>


</div>
